html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  line-height: 1.4;
  background-color: #fff;
}

#app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
}

.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-field {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid rgb(229, 229, 229);
  outline: none;
  height: 35px;
  padding: 0 20px;
  border-radius: 5px;
  background-color: #fff;
}

.common-button {
  display: block;
  padding: 0;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.5ms ease-in-out;

  &:hover {
    background-color: rgb(229, 229, 229);
  }
}

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery__title {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  margin: 0 auto 50px;
}

.gallery-form__line {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.gallery-form__add {
  align-self: center;
  padding: 10px 20px;
  cursor: pointer;
}

.gallery__items {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
  list-style: none;
}

.gallery__item {
  position: relative;
  cursor: pointer;
}

.gallery__item .image-container {
  height: 300px;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-description {
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  background-color: #212121;
}

.image-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  color: #fff;
  border: 1px solid rgba(226, 109, 109, 0.5);
  background-color: rgba(226, 109, 109, 0.5);

  &:hover {
    background-color: rgb(226, 109, 109);
  }
}

.lightbox {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s linear;
  backdrop-filter: blur(2px);
  cursor: pointer;
}

.lightbox--active {
  opacity: 1;
  visibility: visible;
  background-color: #000;
}

.lightbox__content {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.lightbox__content img {
  object-fit: contain;
}

.lightbox .image-wrapper {
  position: relative;
}

.lightbox .image-container {
  position: absolute;
  inset: 0;
}

.lightbox .image-description {
  padding: 10px 0;
  background-color: transparent;
  color: inherit;
}

.lightbox__control {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.lightbox__button {
  padding: 5px;
  background-color: transparent;
  font-size: 24px;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.lightbox__counter {
  margin-right: auto;
}

.disable-scroll {
  overflow: hidden;
}
